.topic-view,
.card {
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    /* -webkit-background-clip: border-box;
    background-clip: border-box; */
    padding: calc(1.5 * var(--padding));
    color: var(--card-color);
    border-radius: var(--border-radius);
}
.comment,
.topic-view:hover,
.topic-view {
    flex-direction: column;
    box-shadow: none;
    border: none;
    transition: var(--transition);
}

.topic-view-title {
    color: var(--primary-color);
}

.topic-view-status {
    border-radius: calc(2 * var(--border-radius));
    padding: .1rem 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background: green;
}

.topic-view-status.draft {
    background: grey;
}

.topic-view-status.closed {
    background: purple;
}

.topic-view .card-details,
.comment .card-details {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.reply .card-details>* {
    margin-left: 1rem;
}

.topic-view .card-body,
.comment .card-body {
    padding-left: 1rem;
}

.comment .card-body,
.reply .card-body {
    padding-right: 1rem;
}

.comment,
.reply {
    padding: 1rem 0 0 1rem;
}

.topic-view img,
.reply img,
.comment img {
    background: #fff;
    width: 2.5rem;
    height: 2.5rem;
    aspect-ratio: 1/1;
    padding: .2rem;
    border-radius: 50%;
}

.topic-view img:active+*,
.reply img:active+*,
.comment img:active+* {
    margin-left: 2.5rem;
    opacity: .2;
}

.topic-view img:active,
.reply img:active,
.comment img:active,
.topic-view img:focus-within,
.reply img:focus-within,
.comment img:focus-within {
    position: absolute;
    transform: translate(0%, -40%);
    width: min(30rem, 70vw);
    height: min(30rem, 70vw);
    transition: all var(--transition);
}

.topic-view .card-text,
.reply .card-text,
.comment .card-text {
    max-height: 70vh;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 1rem;
}

.reply:active,
.comment:active {
    transition: 2s;
    outline: 2px solid red !important;
}

.comment {
    padding-right: 0;
}

.comment.answer:not(:hover) {
    outline: 2px solid green !important;
}

.comment.answer {
    margin-top: 2.5rem !important;
}

.comment.answer button.useful:before {
    content: 'Not ';
    margin-right: 1ch;
    font-size: smaller;
    color: red;
}

.comment.answer:before {
    content: 'Answer';
    position: absolute;
    color: rgb(0, 255, 0);
    letter-spacing: 1ch;
    top: 0;
    right: 2.5rem;
    transform: translateY(-2.5rem);
    text-shadow: 4px 2px 2px black;
    transition: var(--transition);
}

.comment.answer:hover:before {
    letter-spacing: .5ch;
    color: currentColor;
}

.topic-view .card-author,
.comment .card-author {
    font-weight: bold;
}

.interaction {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.interaction * {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

.comment .reply {
    flex-direction: column;
    margin-left: 3rem !important;
}

.comment .reply:nth-of-type(2) {
    margin-top: 3rem;
}

.cont-menu::before {
    content: '...';
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 2rem;
    font-weight: bolder;
    transform: rotate(90deg);
}

.cont-menu>*::before {
    content: 'Menu:';
    font-size: small;
    opacity: .8;
    border-bottom: var(--border);
}

.cont-menu>* {
    border-bottom: var(--border);
    border-top: var(--border);
    display: none;
    position: absolute;
    right: 2rem;
    top: 2.5rem;
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    padding: 0 1rem;
    z-index: 1;
}

.cont-menu>* button {
    box-shadow: none;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-right: var(--border);
}

.cont-menu>* button:focus,
.cont-menu>* button:hover {
    box-shadow: none;
    padding-right: 0;
    padding-left: 2.4rem;
    outline: var(--border) !important;
    outline-offset: -2px !important;
}

.cont-menu:hover>* {
    display: block;
}

#add-reply,
#add-comment {
    max-width: 1000px;
    margin: auto;
}

p {
    text-align: justify;
}

.empty-not-outline:not(:empty) {
    outline: var(--border);
}

[id^="editorPreview"] {
    max-height: 30vh;
    overflow-y: auto;
}